pipeline/pl_parent.json
{
	"name": "pl_parent",
	"properties": {
		"activities": [
			{
				"name": "lkp_get_control_metadata",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT \n    [SourceId],\n    [UseCase],\n    [ProcessType],\n    [Host],\n    [UserName],\n    [SourceAKVSecretName],\n    [SourceDirectory],\n    [SourceFileName],\n    [SourceFileExt],\n    [SourceFileType],\n    [TargetAKVSecretName],\n    [TargetDirectory],\n    [TargetFileName],\n    [TargetFileExt],\n    [SourceArchiveDirectory],\n    [SourceErrorDirectory],\n    [IsActive],\n    [LastModified]\nFROM [config].[PipelineControl]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_boe_poc_control_metadata_sqldb",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "fe_datasource_get_files",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "lkp_get_control_metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('lkp_get_control_metadata').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "cd_onprem_to_bronze",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".csv"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_boe_poc_source_adls",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@item().SourceDirectory",
											"type": "Expression"
										},
										"filename": {
											"value": "@item().SourceFileName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_boe_poc_target_adls",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@item().TargetDirectory",
											"type": "Expression"
										},
										"filename": {
											"value": "@item().TargetFileName",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "df_delete_source_file",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "cd_move_files_to_archive",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "cd_move_files_to_error_folder",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_boe_poc_source_adls",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@item().SourceContainer",
											"type": "Expression"
										},
										"filename": {
											"value": "@item().SourceFileName",
											"type": "Expression"
										}
									}
								},
								"logStorageSettings": {
									"linkedServiceName": {
										"referenceName": "ls_boe_poc_source_adls",
										"type": "LinkedServiceReference"
									},
									"path": {
										"value": "@item().SourceContainer",
										"type": "Expression"
									}
								},
								"enableLogging": true,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						},
						{
							"name": "cd_move_files_to_archive",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "cd_onprem_to_bronze",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_boe_poc_source_adls",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@item().SourceContainer",
											"type": "Expression"
										},
										"filename": {
											"value": "@item().SourceFileName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_boe_poc_archive_adls",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@item().ArchiveContainer",
											"type": "Expression"
										},
										"filename": {
											"value": "@item().SourceFileName",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "cd_move_files_to_error_folder",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "cd_onprem_to_bronze",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_boe_poc_source_adls",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@item().SourceContainer",
											"type": "Expression"
										},
										"filename": {
											"value": "@item().SourceFileName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_boe_poc_errored_adls",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@item().ErrorContainer",
											"type": "Expression"
										},
										"filename": {
											"value": "@item().SourceFileName",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}